.git
.gitignore
node_modules
vendor
bootstrap/cache/*.php
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
docs
.claude
logs
*.md
.env
.env.example
docker-compose.yml
docker/compose.prod.yml
docker/compose.standalone.yml
